<% @stories.each do |story| %>
  <% unless story.source == nil %>
    <div class="row">
      <div class="col-md-2">
        <h3><strong><%= story.points_text %></strong></h3>
      </div>
      <div class="col-md-8">
        <h3><%= link_to story.source, story.href %></h3>
      </div>
    </div>
  <% end %>
<% end %>